.dailycoForm .df_row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;
	margin-bottom: 10px;
}

.dailycoForm .df_column {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;
}

.dailycoForm .df_double-column {
	display: flex;
	flex-direction: column;
	flex: 75%;
}

.dailyco_notice {
	border-left: 3px solid #dc3232;
	padding: 10px;
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.2);

}

/* ---------------------------------------------------------------------
Working to ensure the iFrame is higher than other elements.
------------------------------------------------------------------------ */
.dailyco-active .dailyco_call_frame {
	z-index: 99999;
}

.dailyco-active #wpadminbar {
	z-index: -1 !important;
}

/* prevents website scrollbar from showing when iFrame is loaded */
.dailyco-active {
	overflow: hidden;
}

